body{
  background-color: #edecec;
  font-family: sans-serif, Helvetica;
  margin: 0em;
}

p{
  margin: 0em;
  padding: 0em;
}

a:hover{
  font-weight: bold;
  color: #669fc3;
}

a{
  text-decoration: none;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3em;
  padding-top: 2em;
  margin-bottom: 1em;
  z-index: 1000;
}

nav a{
  text-decoration: none;
  color: black;
  font-weight: 400;
  padding: .5em;
  font-size: 25px;
  text-shadow: .5px .5px 1px grey;
}

.section-heading{
  text-shadow: .5px .5px 1px grey;
  white-space: nowrap;
  margin: 0em;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 1em;
}

section{
  width: 60%;
  position: relative;
  left: 28em;
}


@media (max-width: 1200px){
  section{
    left: 20em;
    width: 60%;
  }
}

@media (max-width: 800px){
  section{
    width: 47%;
  }
}

@media (max-width: 650px){
  nav{
    justify-content: center;
    margin: 0em;
  }

  section{
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #education-heading{
    padding-top: 0em;
    margin-top: 1em;
  }

  #projects-heading{
    margin-top: 1em;
    padding-bottom: .5em;
  }

  #photography-heading{
    margin-top: 1em;
  }

  .section-heading{
    align-self: center;
    text-align: center;
    margin-top: 10px;
  }


}
