.card-hidden{
  visibility: hidden;
}

.slide-left{
  animation: slideLeft ease-in;
  animation-duration: .6s;
}

@keyframes slideLeft{
  0%{
    transform: skewX(50deg) translateX(500px);
  }
  60%{
    transform: translateX(0px);
  }
  62%{
    transform: skewX(0deg) translateX(-30px);
  }
  100%{
    transform: skewX(0deg);
  }

}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.zoom-in{
  animation:animatezoom 0.6s
}

@keyframes animatezoom {
  from{
    transform:scale(0)
  }
  to{
    transform:scale(1)
  }
}
