.work-card{
  background-color: white;
  /* height: 8em; */
  width: 75%;
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.work-card img{
  position: absolute;
  border-radius: 15px;
}

.work-card a{
  text-decoration: none;
  color: black;
}

.work-heading{
  margin-left: 3.6em;
  padding-top: .5em;
  font-size: 21px;
}

.work-sub-heading{
  margin-left: 6em;
  font-size: 13px;
  padding-top: .7em;
  padding-bottom: .7em;
}

.work-description{
  margin-left: 6em;
  font-size: 13px;
  line-height: 1.6;
}

#eco-logo{
  margin-top: 1em;
}

.edu-card{
  width: 50%;
  background-color: white;
  /* height: 5em; */
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edu-card img{
  margin-top: .65em;
  position: absolute;
  border-radius: 15px;
}

.edu-card a{
  text-decoration: none;
  color: black;
}
.edu-heading{
  margin-left: 3.6em;
  padding-top: .3em;
  font-size: 21px;
}

.edu-sub-heading{
  margin-left: 6em;
  font-size: 13px;
  padding-top: .5em;
  padding-bottom: .7em;
}

.edu-description{
  margin-left: 6em;
  font-size: 13px;
  line-height: 1.6;
}

.project-title{
  text-align: center;
  text-shadow: .5px .5px 1px grey;
  font-size: 25px;
  font-weight: 400;
}

#project-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-card-container{
  height: 24em;
}


.project-card{
  height: 16em;
  width: 16em;
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1.2em;
  text-align: center;
}

.project-card-info{
  border-radius: 15px;
  padding: 1em;
  height: 16em;
  width: 16em;
  text-align: center;
  position: relative;
  bottom: 19.1em;
  left: 1.2em;
}

.project-card-description{
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: .8em;
  padding: .5em;
  font-size: 15px;
  margin-top: 5em;
  margin-bottom: 2em;
}

.project-card-info a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: .8em;
  margin-top: 2em;
  padding: 8px 16px;
}

.blur{
  filter: blur(.2em);
}

.hidden{
  display: none;
}

#chef-card{
  background-image: url("../images/projects/chef-icon.png");
}

#wildlife-card{
  background-image: url("../images/projects/wildlife-icon.png");
}

#climate-card{
  background-image: url("../images/projects/climate-icon.jpg");
}


#ayuda-card{
  background-image: url("../images/projects/ayuda-icon.png");
}

#scrabble-card{
  background-image: url("../images/projects/scrabble-icon.png");
}

#gif-card{
  background-image: url("../images/projects/giphy-logo.png");
}

#wine-card{
  background-image: url("../images/projects/wine-icon.png");
}

#cusail-card{
  background-image: url("../images/projects/cusail-big.png");
}

#cc-card{
  background-image: url("../images/projects/cc-logo-big.png");
}

@media (max-width: 1200px){
  .edu-card{
    width: 60%;
  }
}

@media (max-width: 1130px) {
  .work-card{
    width: 85%;
  }
}

@media (max-width: 1020px){
  .edu-card{
    width: 22em;
    /* height: 6em; */
  }

  .work-card{
    /* height: 10em; */
  }
}

@media (max-width: 800px){
  .section-heading{
    width: 15em;
  }

  .edu-card{
    width: 20em;
    /* height: 7em; */
  }

  .work-card{
    width: 95%;
    /* height: 15em; */
  }
}

@media (max-width: 705px){
  .edu-card{
    width: 17em;
    /* height: 8em; */
  }

  .work-card{
    width: 80%;
    /* height: 20em; */
  }
}

@media (max-width: 650px){

  .edu-card{
    width: 70%;
    /* height: 8em; */
    align-self: center;
  }

  .work-card{
    width: 80%;
    /* height: 11em; */
    align-self: center;
  }

  #project-container{
    flex-direction: column;
    justify-content: center;
  }

  .project-card-container{
    align-self: center;
  }

}

@media (max-width: 500px){
  .work-card{
    /* height: 13em; */
  }
}

@media (max-width: 400px){
  .work-card{
    /* height: 16em; */
  }
}
