#photography-heading-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#photography-heading-container span{
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 1.2em;
}

#photography-heading-container span:hover{
  font-weight: bold;
  color: #669fc3;
  cursor: pointer;
}

.selected{
  font-weight: bold;
  color: #669fc3;
  cursor: pointer;
}

.horizontal-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.horizontal-box img{
  width: 22em;
  margin: 1em;
  box-shadow: 1px 1px 2px 0 rgb(59, 59, 59);
  box-sizing: border-box;
  padding: .5em;
}

.vertical-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.vertical-box img{
  height: 22em;
  margin: 1em;
  box-shadow: 1px 1px 2px 0 rgb(59, 59, 59);
  box-sizing: border-box;
  padding: .5em;
}

.hidden{
  display: none;
}

#fashion-heading{
  margin-top: 2em;
}

#fashion-photo-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#fashion-photo-container img{
  margin: .5em;
  box-shadow: 1px 1px 2px 0 rgb(59, 59, 59);
  box-sizing: border-box;
  display: inline-block;
  padding: .5em;
  align-self: center;
}

#coves{
  width: 17em;
}
#winter{
  width: 12em;
}
#jackets{
  width: 17em;
}
#cleats{
  width: 17em;
}
#spring{
  width: 12em;
}
#racers{
  width: 17em;
}
#fall{
  width: 13em;
}
#tnf{
  width: 18em;
}
#vermont{
  width: 12em;
}


#music-heading{
  margin-top: 2em;
}

#album-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#album-container img{
  width: 14em;
}

.flip-card {
  background-color: transparent;
  width: 14em;
  height: 14em;
  perspective: 1000px;
  margin: 1em;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front img{
  box-shadow: 1px 1px 2px 0 rgb(59, 59, 59);
  box-sizing: border-box;
  padding: .5em;
  align-self: center;
}

.flip-card-back {
  background-color: #dedede;
  transform: rotateY(180deg);
  color: black;
  box-shadow: 1px 1px 2px 0 rgb(59, 59, 59);
  align-self: center;
  padding: 1em;
  height: 12em;
  width: 12em;
}

.album-heading{
  margin-top: 1em;
  font-size: 1.3em;
  color: black;
}

.flip-card-back a{
  color: black;
  margin-bottom: .3em;
}

.flip-card-back a:hover{
  font-weight: bold;
  color: #669fc3;
}

.favorite-song-heading{
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: .5em;
}

#frat-heading{
  margin-top: 2em;
}

#frat-photo-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#frat-photo-container img{
  margin: .5em;
  box-shadow: 1px 1px 2px 0 rgb(59, 59, 59);
  box-sizing: border-box;
  display: inline-block;
  padding: .5em;
  align-self: center;
}

#datenight1{
  width: 16em;
}

#pc{
  width: 18em;
}

#datenight2{
  width: 16em;
}

#house{
  width: 13em;
}

#pc2{
  width: 16em;
}

#pc3{
  width: 14em;
}


@media (max-width: 900px){
  #photography-heading-container span{
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media (max-width: 650px){
#photography-heading-container span{
  margin-left: 1.5em;
  margin-right: 1.5em;
}

#photography-container{
  flex-direction: column;
}

#frat-photo-container{
  flex-direction: column;
  align-items: center;
}

.horizontal-box img{
  width: 90%;
  margin-left: 0em;
  margin-right: 0em;
}

.flip-card-back a{
  color: #669fc3;
}

}
