#profile-pic{
  width: 80%;
  border-radius: 50%;
  padding: 1em;
  padding-bottom: 0em;
}

#side-bar{
  background-color: #dedede;
  width: 380px;
  height: 100em;
  position: fixed;
  /* float: left; */
  text-align: center;
}

#side-bar span{
  font-size: 1.3em;
  font-weight: 400;
}

#side-bar h1{
  margin-bottom: .5em;
}

#side-bar a{
  color: #669fc3;
  text-decoration: none;
}

#icon-container{
  margin-top: .8em;
}

.media-icon{
  width: 1.5em;
  margin-right: .3em;
  margin-left: .3em;
}

.media-icon:hover{
  width: 2em;
}


#bio{
  padding: 1em;
  padding-top: 0em;
  text-align: left;
  margin-top: .8em;
  margin-left: .5em;
}

@media (max-width: 1200px){
  #side-bar{
    width: 250px;
  }

  #side-bar span{
    font-size: 1em;
  }

  #side-bar h1{
    margin-bottom: .5em;
    font-size: 1.8em;
  }

  #side-bar p{
    font-size: .9em;
  }


  #bio{
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    text-align: left;
    margin-left: .5em;
  }
}

@media (max-width: 650px){
  #profile-pic{
    width: 50%;
  }

  #side-bar{
    margin: 0em;
    margin-bottom: 1em;
    width: 100%;
    height: 35em;
    position: static;
  }

}

@media (max-width: 550px){
  #side-bar{
    height: 33em;
  }
}
